<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title class="montserrat" slot="secondary">LOGO</ion-title>
        <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
            <ion-button>
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="../../assets/img/slide1_3.jpg" width="100%" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/slide2_5.jpg" width="100%" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
    </ion-slides>
    <div padding>
      <div class="title montserrat">
        <h5>Novedades</h5> <a href="">Ver mas</a>
      </div>

          <ion-slides pager="false" [options]="slideNovedades">
      <ion-slide padding>
        <img src="../../assets/img/slide1_3.jpg" width="100%" alt="">
      </ion-slide>
      <ion-slide padding>
        <img src="../../assets/img/slide2_5.jpg" width="100%" alt="">
      </ion-slide>
      <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
            <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
            <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
            <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
    </ion-slides>

    </div>

<div class="banner">
  <ion-grid>
  <ion-row>
  <ion-col size="4" center>
  <img src="../../assets/img/banner.svg" width="100%" height="100%" alt="">
  </ion-col>
  <ion-col size="8">
  <h2>Titulo</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </ion-col>
  </ion-row>
</ion-grid>
</div>

    <div padding>
      <div class="title montserrat">
        <h5>MAS vendido</h5> <a href="">Ver mas</a>
      </div>

          <ion-slides pager="false" [options]="slideNovedades">
      <ion-slide padding>
        <img src="../../assets/img/slide1_3.jpg" width="100%" alt="">
      </ion-slide>
      <ion-slide padding>
        <img src="../../assets/img/slide2_5.jpg" width="100%" alt="">
      </ion-slide>
      <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
            <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
            <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
            <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
    </ion-slides>

    </div>



        <div padding>
      <div class="title montserrat">
        <h5>ofertas</h5> <a href="">Ver mas</a>
      </div>

          <ion-slides pager="false" [options]="slideNovedades">
      <ion-slide padding>
        <img src="../../assets/img/slide1_3.jpg" width="100%" alt="">
      </ion-slide>
      <ion-slide padding>
        <img src="../../assets/img/slide2_5.jpg" width="100%" alt="">
      </ion-slide>
      <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
            <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
            <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
            <ion-slide padding>
        <img src="../../assets/img/slide3_1.jpg" width="100%" alt="">
      </ion-slide>
    </ion-slides>

    </div>
</ion-content>
