<ion-app>
	<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-item color="primary" style="height: 100px; display: flex;align-items: center;">
  <ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label class="montserrat">Item Avatar</ion-label>
</ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="montserrat">
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
